---
import PageLayout from "../layouts/PageLayout.astro";
import "../css/reset.css";
import "../css/global.css";
import "../css/style.css";
---

<PageLayout title="Billedside">
  <h1 class="under_c">UNDER CONSTRUCTION...</h1>
</PageLayout>