<header>
  <div class="logo_1">
    <img src="logo.svg" alt="Logo" />
  </div>
  <nav>
    <ul class="menu">
      <li><a href="/">HOME</a></li>

      <li class="dropdown">
         <a href="/subpage">CREATIVE SPACES</a>
         <ul class="dropdown-menu">
           <li><a href="copenhagen-contemporary">COPENHAGEN CONTEMPORARY</a></li>
           <li><a href="street-art">NØRREBRO STREET ART</a></li>
           <li><a href="limited-works-gallery">LIMITED WORKS GALLERY</a></li>
           <li><a href="maca-museum">MACA MUSEUM</a></li>
         </ul>
      </li>
      
     <li><a href="/contact">CONTACT</a></li>
    </ul>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
</header>
