<div class="landing"> 
<a href="/subpage">
        <div class="enter-text">PRESS TO ENTER*</div>
        <img src="loggoo.svg" alt="Logo" class="logo">

        <div class="stacked-text">
            <div class="bold">CREATIVE ESCAPE</div>
            <div class="italic">A GUIDE TO COPENHAGEN</div>
            <div class="italic">CREATIVE SPACES</div>
        </div>
    </a>
 </div>